.name-filter.container
  span.name-filter__letter а
  span.name-filter__letter б
  span.name-filter__letter в
  span.name-filter__letter г
  span.name-filter__letter д
  span.name-filter__letter е
  span.name-filter__letter ж
  span.name-filter__letter з
  span.name-filter__letter и
  span.name-filter__letter к
  span.name-filter__letter л
  span.name-filter__letter м
  span.name-filter__letter н
  span.name-filter__letter о
  span.name-filter__letter п
  span.name-filter__letter р
  span.name-filter__letter с
  span.name-filter__letter т
  span.name-filter__letter у
  span.name-filter__letter ф
  span.name-filter__letter х
  span.name-filter__letter ц
  span.name-filter__letter ш
  span.name-filter__letter щ
  span.name-filter__letter э
  span.name-filter__letter ю
  span.name-filter__letter я