ul.pagination.container.container--small
  li.pagination__item
    a.pagination__link.active 1
  li.pagination__item
    a.pagination__link 2
  li.pagination__item
    a.pagination__link 3
  li.pagination__item
    a.pagination__link 4
  li.pagination__item
    a.pagination__link 5
  li.pagination__item
    a.pagination__link 6
  li.pagination__item
    a.pagination__link 7
  li.pagination__item
    a.pagination__link 8
  li.pagination__item
    a.pagination__link 9
  li.pagination__item
    a.pagination__link 10
  li.pagination__item
    a.pagination__link 11
  li.pagination__item
    a.pagination__link 12
  li.pagination__item
    a.pagination__link.next >>