footer.footer
  .footer__cont
    .footer__img
      img.footer__logo.lazy(data-src='assets/images/logo.svg')
    p.footer__p Разработка и продвижение —&nbsp;
      a.link Synergy Digital<br>
      a.policy Политика конфедециальности
