.person-bio.container.container--small
  .person-bio__photo
    img.person-bio__img.lazy(data-src='assets/images/person-01.jpg')
  .person-bio__desc
    .person-bio__row
      h1.person-bio__title Абрамов Михаил
      .person-bio__comments
        i.icon.comments-icon
        span.person-bio__comments__amount 12
    .person-bio__data
      .person-bio__data__row
        span.person-bio__data__title Дата рождения
        span.person-bio__data__text 24 августа 1965
      .person-bio__data__row
        span.person-bio__data__title Место работы
        span.person-bio__data__text Министерство  Образования РФ
      .person-bio__data__row
        span.person-bio__data__title Должность
        span.person-bio__data__text Министр
      .person-bio__data__row
        span.person-bio__data__title Телефон
        span.person-bio__data__text +7 916 222 22 00
      .person-bio__data__row
        span.person-bio__data__title E-mail
        span.person-bio__data__text abramovmin@mail.ru
