.filters.container.container--small
  .filters-rate
    .filters-rate__col
      i.star-empty-icon.icon
    .filters-rate__col
      i.star-empty-icon.icon
      i.star-empty-icon.icon
    .filters-rate__col
      i.star-empty-icon.icon
      i.star-empty-icon.icon
      i.star-empty-icon.icon
    .filters-rate__col
      i.star-fill-icon.icon
      i.star-fill-icon.icon
      i.star-fill-icon.icon
      i.star-fill-icon.icon
    .filters-rate__col
      i.star-fill-icon.icon
      i.star-fill-icon.icon
      i.star-fill-icon.icon
      i.star-fill-icon.icon
      i.star-fill-icon.icon
  .filters__select.filters__select-city
    select(name='Город' placeholder='Город')
      option.disabled(disabled selected) Город
      option(value='Москва') Москва
      option(value='Москва') Москва
      option(value='Москва') Москва
      option(value='Москва') Москва
  .filters__select.filters__select-sort
    select(name='Город' placeholder='Город')
      option.disabled(disabled selected) Сортировка
      option(name='Алфавит А-Я' value='Алфавит А-Я') Алфавит А-Я
      option(name='Алфавит Я-А' value='Алфавит Я-А') Алфавит Я-А
      option.arrow-option-more(name='Кол-во отзывов больше' value='Кол-во отзывов больше') Кол-во отзывов
      option.arrow-option-less(name='Кол-во отзывов меньше' value='Кол-во отзывов меньше') Кол-во отзывов