header.header
  .header__cont.container
    a(href='index.html').header__logo
      img(src='assets/images/logo-gold.svg')
    nav.header__nav
      ul.header__nav-list
        li.header__nav-list__item
          a.header__nav-list__link(href='index.html') Локации
        li.header__nav-list__item
          a.header__nav-list__link(href='persons.html') Персоны
    .search-input.search-input--header
      input.search-input__input(type='search' placeholder='Поиск')
      i.search-icon.icon
