extends template.pug
block content
  //- Main block ('.main') data
  -
    const mainInfo = {
      data: [{
        title: 'Synergy\nFamily',
        subtitle: 'Мнения, оценка и рейтинг локаций',
        btn: 'Добавить локацию',
        background: 'assets/images/header-bg.jpg',
        logo: 'assets/images/logo.svg'
      }]
    }
  //- Include Main block ('.main')
  include assets/blocks/common-blocks/main/main.pug
  +main(mainInfo)


  div.wrapper
    main.content
      //- Add block ('.add') col1 ('.add__col') data
      - const col_1 = true
      //- Add block ('.add') col2 ('.add__col') data
      -
        const col_2 = {
          input_fields: [{
            type: 'text',
            title: 'Фамилия',
            placeholder: 'Фамилия'
          }],
          select_fields: [{
            title: 'Тип',
            options: ['Баня', 'Концертные зал', 'Отель', 'Спортклуб', 'Яхт-клуб', 'Ресторан', 'Дом отдых']
          },
          {
            title: 'Город',
            options: ['Москва', 'Санкт-Петербург', 'Нижний Новгород', 'Казань', 'Екатеринбург', 'Саратов', 'Чебоксары']
          }]
        }
      //- Add block ('.add') col3 ('.add__col') data
      -
        const col_3 = {
          input_fields: [
          {
            type: 'text',
            title: 'Адрес',
            placeholder: 'Адрес'
          },
          {
            type: 'text',
            title: 'Телефон',
            placeholder: '8 000 000 00 00'
          },
          {
            type: 'text',
            title: 'Вебсайт',
            placeholder: 'Вебсайт'
          }]
        }
      //- Include Add block ('.add')
      include assets/blocks/common-blocks/add/add.pug
      +add('Добавить локацию', col_1)


      //- Include Locations block ('.locations')
      include assets/blocks/locations/locations.pug


      //- Include Pagination block ('.pagination')
      include assets/blocks/common-blocks/pagination/pagination.pug


  //- Include Footer block ('.footer')
  include assets/blocks/common-blocks/footer/footer.pug
