.tags
  .tag.active(tabindex='0')
    span Все
  .tag(tabindex='0')
    span Бани
  .tag(tabindex='0')
    span Дома отдыха
  .tag(tabindex='0')
    span Клубы
  .tag(tabindex='0')
    span Концертные залы
  .tag(tabindex='0')
    span Локации
  .tag(tabindex='0')
    span Бани
  .tag(tabindex='0')
    span Рестораны
  .tag(tabindex='0')
    span Спортклубы
  .tag(tabindex='0')
    span Фитнес клубы
  .tag(tabindex='0')
    span Яхт-клубы
