.person.container
  //- Include Person-bio block ('.person-bio')
  include person-bio/person-bio.pug


  h2.tags__title.container.container--small Локации
  //- Include Tags block ('.tags')
  include ../common-blocks/tags/tags.pug


  //- Include Filters block ('.filters')
  include ../locations/filters/filters.pug


  //- Review block ('.review') data
  -
    const reviews = {
      data: [{
        location_img: 'assets/images/varshavskie-bani.jpg',
        title: 'Варшавские бани',
        tag: 'Бани',
        text: 'Fusce consequat, turpis sit amet finibus auctor, enim mauris commodo sapien, facilisis tincidunt leo lorem sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis quis odio et lacinia.\nMaecenas purus erat, molestie sed semper ut enim mauris commodo sapien, facilisis tincidunt leo lorem ... ',
        info: ['Москва', 'varshavskie-bani.ru'],
        date: '13.08.2019',
        rate: ['star-fill-icon', 'star-fill-icon', 'star-fill-icon', 'star-fill-icon', 'star-empty-icon'],
        rate_icon: 'like-icon',
        photos: '12'
      },
      {
        location_img: 'assets/images/turandot.jpg',
        title: 'Турандот',
        tag: 'Рестораны',
        text: 'Fusce consequat, turpis sit amet finibus auctor, enim mauris commodo sapien, facilisis tincidunt leo lorem sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis quis odio et lacinia.\nMaecenas purus erat, molestie sed semper ut enim mauris commodo sapien. ',
        date: '13.08.2019',
        info: ['Москва', 'turandot-palace.ru'],
        rate: ['star-fill-icon', 'star-fill-icon', 'star-fill-icon', 'star-fill-icon', 'star-fill-icon'],
        rate_icon: 'like-icon',
        photos: '5'
      },
      {
        location_img: 'assets/images/holidej-inn.jpg',
        title: 'Holiday Inn',
        tag: 'Отели',
        text: 'Fusce consequat, turpis sit amet finibus auctor, enim mauris commodo sapien, facilisis tincidunt leo lorem sed diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis quis odio et lacinia.\nMaecenas purus erat, molestie sed semper ut enim mauris commodo sapien. ',
        date: '13.08.2019',
        info: ['Москва', 'holidayinn.com'],
        rate: ['star-fill-icon', 'star-fill-icon', 'star-fill-icon', 'star-empty-icon', 'star-empty-icon'],
        rate_icon: 'dislike-icon',
        photos: '8'
      }]
    }

  .reviews.reviews--mt.container.container--small
    //- Include Review block ('.review')
    include ../common-blocks/review/review.pug
    +review(reviews)
